@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 200s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px rgba(20, 20, 20, 0.161);
}

.infoBox::after {
  content: "Heslo musí obsahovat\A 6 znaků, jedno číslo a jeden speciální znak";
  white-space: pre-wrap;
  width: 180px;
  height: 64px;
  left: -80px;
  font-size: small;
  position: absolute;
  background: #171717;
  color: #ffffff;
  display: none;
  padding: 4px 0px 0px 6px;
  border-radius: 12px;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
}

.infoBox:hover::after {
  display: flex !important;
  opacity: 1;
}